<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head.ejs %>

</head>
<body>

  <% include partials/header.ejs %>


  <div id="hero-image-notFound">
		<h1 id="hero-title">This is not the page you are looking for</h1>
	</div>


	<% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>